<div class="container">
<div class="col-md-12 col-sm-12 details-view">
<div class="col-md-6 col-sm-6 col-xs-6">
	<div class="col-md-12">
		<div class="col-md-6 col-sm-6 col-xs-6">
		<span class="heading">P.No:</span><span>12345678</span>
		</div>
	</div>
</div>
<div class="col-md-6 col-sm-6 col-xs-6">
<span class="heading">Add:</span><span>12345678</span>
		</div>
</div>
</div>

<div class="container">
	<div class="form-group">
		<label>Floor being Inspected</label>
		<input type="text" class="form-control"/>
	</div>
	<div class="form-group">
		<label>Room being Inspected</label>
		<input type="text" class="form-control"/>
	</div>
	<button class="btn btn-default" ng-click="startInspection()">Start Inspection</button>
</div>