    <!--   <div class="col-md-offset-4 col-md-8" style="vertical-align: middle;height: 540px;padding-top: 150px;">
      <div class="col-md-6 com-sm-12 col-xs-12">
         <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-default" ng-click="navToDashboard()">Login</button>
</form>
      </div>
</div> -->

        <div class="col-md-6 col-md-offset-3" style="vertical-align: middle;height: 540px;padding-top: 150px;">
           <!-- <div class="alert alert-mini alert-danger margin-bottom-30" style="font-size: 14px;">
                <strong>Oh snap!</strong> Login Incorrect!
              </div> -->
              <div class="box-static box-border-top padding-30">
                <div class="box-title margin-bottom-30">
                  <!-- <img id="profile-img" class="profile-img-card" src="images/logo.png"  style="width: 30%;margin-top: -84px;" /> -->
                </div>
                <form class="nomargin" method="post" action="#" autocomplete="off">
                  <div class="clearfix">
                    
                    <!-- Email -->
                    <div class="form-group">
                      <input type="text" name="email" class="form-control" placeholder="Email" required="">
                    </div>
                    
                    <!-- Password -->
                    <div class="form-group">
                      <input type="password" name="password" class="form-control" placeholder="Password" required="">
                    </div>
                      
                  </div>
                  
                  <div class="row">
                    
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      
                      <!-- Inform Tip -->                                        
                      <div class="form-tip pt-20">
                        <a class="no-text-decoration size-13 margin-top-10 block" href="#">Forgot Password?</a>
                      </div>
                      
                    </div>
                    
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">

                      <button class="btn btn-primary" style="border-radius: 0;" ng-click="navToDashboard()">OK, LOG IN</button>

                    </div>
                    
                  </div>
                  
                </form>
<!-- <form class="form-signin">
    
    <div class="group">      
      <input type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Name</label>
    </div>
      
    <div class="group">      
      <input type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Email</label>
    </div>

    <div class="row">
          <div class="input-field">
            <a href="javascript:void(0)" ng-click="navToDashboard()" class="btn waves-effect waves-light col s12">Login</a>
          </div>
        </div>
    
  </form> -->
              </div>
            
            <p id="profile-name" class="profile-name-card"></p>
  

           
        </div><!-- /card-container -->
